<div class="flex flex-col items-center">
    <%= link_to "Single Game", new_single_game_path, class: "single_game" %>
    <%= link_to "Leagues", "/leagues/index", class: "leagues" %>
    <%= link_to "Players", "/players/index", class: "players" %>
</div>