<body> 
    <div id="countdown" class="single_game_header"></div>
</body>
<script>
    <% if @count <= @game.levels.count %> 
        let startingMinutes = <%= @game.levels[@count-1].length.to_i %>;
        let time = startingMinutes;
        const count = <%= @count %>
        
        let countdownEl = document.getElementById('countdown');
        
        var myTimer = setInterval(updateCountdown, 1000);
        
        function updateCountdown() {
            if (time >= 0) {
                const minutes = Math.floor(time / 60);
                let seconds = time % 60;
            
                seconds = seconds < 10 ? '0' + seconds : seconds;
            
                countdownEl.innerHTML = `${minutes}:${seconds}`;
                time--;
            } else {
                window.location.href = `${count+1}`
            }
        };
    <% end %>
</script>
